body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #494241;
	}
	
header {
	background-color: #CC0000;
	color: #204;
	padding: 10px 0;
	text-align: center;
}

nav {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5px
}
nav a {
	display: inline-block;
	margin: 10px;
	padding: 15px 30px;
	background-color: #000000;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 8px;
	transition: background-color 0.3s, transform 0.3s;
        }
nav a:hover{
	background-color: #e60000;
	transform: scale(1.1);
}

.container {
	padding: 20px;
	color: #FFFFFF
}

.container_grid {
	padding: 20px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	gap: 110px;
}

h1 { 
	font-size: 20px
}

h2{
	font-size: 40px	
}

.textemenu {
	font-size: 35px	
	
}

video { 
	width: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px; 
	justify-content: center; 
	padding: 20px;
}

.wrapper img {
	width: 100%; 
	max-width: 650px;
	border-radius: 8px;
}

footer {
	background-color: #333;
	color: white;
	padding: 10px 0;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.imgindex:hover {
  transform: scale(1.1);
}

.imgindex{
    
	transition: transform 0.2s;
}

.wrapper2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px; 
	justify-content: center; 
	padding: 20px;
}

.wrapper2 img {
	width: 100%; 
	max-width: 650px;
	border-radius: 8px;
}

section {
	margin: 20px;
	background-color: #000000;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.voiture {
	color: #c00
}

.textevoiture {
	font-size: 25px
	
}

.history_font {
	font-family: Courier New;
	font-size: 60px; 
	padding-left: 30px; 
}

.footer-space {
    height: 200px;
    background-color: #494241;
}